name: pandahub

on:
  [push, pull_request]

jobs:
  build_ubuntu:
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]
        pandatools-version: [{pp: 'v2.10.1', pps: 'v0.7.0'},
                             {pp: 'v2.10.0', pps: 'v0.7.0'}]
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        pip install -r requirements.txt
        pip install -r requirements_dev.txt
        pip uninstall -y pandapower
        pip uninstall -y pandapipes
        pip install pandapower==${{ matrix.pandatools-version.pp }} pandapipes==${{ matrix.pandatools-version.pps }}
        pip install .["all"]
    - name: List of installed packages
      run: |
        pip list
    - name: Test with pytest and Codecov
      run: |
         python -m pip install pytest-cov
         pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
      #- name: Check out my other private repo
      #  uses: actions/checkout@master
      #  with:
      #    repository: orgname/reponame
